{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }],
        "react",
        "stage-1"
    ],
    "env": {
        "production": {
            "comments": false,
            "minified": true
        }
    },
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}
