@import '../../../styles/variables';

.Sidebar {
    width: 250px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 99;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: opacity ease-in 0.2s;
    background-color: $app-background-color;
    border-right: 1px solid rgba(0,0,0,.14);
    cursor: default;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.Sidebar * {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.Sidebar-header {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(0,0,0,.14);
    height: 60px;
    align-items: center;
    padding: 5px 10px;
    img {
        width: 20%;
        border-radius: 50%;
        height: 45px;
        margin-right: 10px;
    }
    span {
        width: 50%;
    }
    i {
        width: 30%;
        cursor: pointer;
    }
}

.Sidebar-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    margin: 0;
}

.Sidebar-footer {
    padding: 5px;
    align-self: baseline;
}
