<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React Redux Dashboard</title>

    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">
    <meta charset="UTF-8">
    <meta name="description" content="React Redux Dashboard">

    <meta property="og:title" content="React Redux Dashboard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="React Redux Dashboard">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@hugofqueiros">
    <meta property="twitter:creator" content="@hugofqueiros">
    <meta property="twitter:title" content="React Redux Dashboard">
    <meta property="twitter:description" content="React Redux Dashboard">
    <meta property="twitter:image" content="">
    <meta property="" content="">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="React Redux Dashboard">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name=”msapplication-tap-highlight” content=”no”/>
    <meta name="google" content="notranslate">

    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/img/favicon.png" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

</head>
<body>
<div id="app"></div>
</body>
</html>
