@import '../../styles/variables.scss';

.App {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $app-background-color;
}

.MainWrapper {
    top: 50px;
    display: flex;
    padding-top: 10px;
    //background-color: $app-background-color;
    background: #E9F0F5;
    align-items: flex-start;
    position: absolute;
    flex-direction: row;
    height: calc(100% - 50px);
    width: 100%;
    overflow-y: auto;
}

